/*
 *	This is {{router_name}} configuration file.
 */

# Configure logging
log syslog all;
log "/var/log/bird.log" all;
log stderr all;


# Override router ID
router id {{ip}};

include "filters.conf";

# Turn on global debugging of all protocols
debug protocols all;

protocol kernel {
#	learn;			# Learn all alien routes from the kernel
	persist;		# Don't remove routes on bird shutdown
	scan time 20;		# Scan kernel routing table every 20 seconds
	import none;		# Default is import all
	export filter kernel_out;		# Default is export none

}

protocol device {
	scan time 10;		# Scan interfaces every 10 seconds
}


protocol static {
#	disabled;
	route {{prefix}} via "lo";
}


protocol bgp {
#	disabled;
	description "BGP link to {{peer_name}} ";
	local as {{as}};
	neighbor {{peer_ip}} as {{peer_as}};
        export filter bgp_out;
	import filter bgp_in_as_{{peer_as}};
	source address {{ip}};	# What local address we use for the TCP connection
}
