function net_martian()
{
  return net ~ [ 169.254.0.0/16+, 172.16.0.0/12+, 192.168.0.0/16+, 10.0.0.0/8+,
    127.0.0.0/8+, 224.0.0.0/4+, 240.0.0.0/4+, 0.0.0.0/32-, 0.0.0.0/0{25,32}, 0.0.0.0/0{0,7} ];
}

function net_local()
{
  return net ~ [ {{prefix}} ];
}


function rt_import(int asn; int set peer_asns; prefix set peer_nets)
{
  if net_martian() then return false;
  if ! (net ~ peer_nets) then return false;
  if ! (bgp_path.last ~ peer_asns) then return false;
  if bgp_path.first != asn then return false;
  if bgp_path.len > 64 then return false;
  if bgp_next_hop != from then return false;
  return true;
}


filter bgp_in_as_{{peer_as}}
{
  if ! rt_import({{peer_as}}, [ {{peer_as}} ], [ {{peer_prefix}} ])
  then reject;
  accept;
}

function rt_export()
{
  if net_martian() then return false;
  if ! ( net_local() ) then return false;
  if bgp_path.len > 64 then return false;
  if proto = "static1" then {
    #set community
    bgp_community.add(({{community}}));
  }
  return true;
}

filter bgp_out
{
  if ! rt_export() then reject;
  accept;
}

filter kernel_out
{
  if source != RTS_BGP then reject;
  accept;
}
